body{
    height: 100vh;
    background: linear-gradient(cyan,darkblue);
    display: flex;
    justify-content: center;
    align-items: center;

}


.central{
    background: white;
    width: 50%;
    height: 50%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px,1px,5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem{
    display: flex;
    gap: 50px;
    margin-bottom: 20px; /* se afaste do que esta abaixo */
}

.imagem img{
    height: 350px;
}

.botoes button{
    background: black;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.imagem p{
    font-size: 20px;
}